/** {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Define o layout do elemento main */
/*main {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(/img/oficina.png);
    background-attachment: fixed;
    background-repeat: round;
    background-size: auto;
    justify-content: flex-start;
    z-index: 1;
}

/* Área de cadastro */
.AcessoContaConteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(160deg, #0C2858 32%, #04132A 68%);
    width: 55%; /* Mantém 60% de largura */
    padding: 2% 0; /* Adiciona um espaçamento na parte inferior */
}

.textVeiculo {
    text-align: center;
    margin-bottom: 30px; /* Espaço entre o texto e o formulário */
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textVeiculo h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.textVeiculo h3 {
    font-size: 1.1rem;
}

.LoginDiv {
    background: linear-gradient(160deg, rgba(4, 54, 104, 0.908) 0%, rgb(9, 81, 152) 50%, rgba(0, 122, 204, 0.297) 100%);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 5%;
    margin: 0 15%; /* Mantém as margens laterais */
}

.GridCadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.GridCadastro form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Alinhar h2 {
    text-align: center;
    padding-bottom: 5%;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.LoginDiv input {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    width: 48%;
}

/*button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
*/