.cadastroGeral
{
    display: flex;

    
}

.containerImg
{
    width: 40%;
    
}
.containerImg img
{
    width: 100%;
    height: 100%;
}
.containerExternoForm
{
    background: linear-gradient(to right, #0c2f88 3%, #082770 15%, #020848 84%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 2% 5%;
    
}
.containerForm
{
    background: linear-gradient(to right, #082263 57%, #00154A 78%, #001345 100%);
    width: 50%;
    padding: 10% 5%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    border-radius: 12px;
    
}

.containerForm h1
{
    text-align: center;
    width: 100%;
    font-weight: 500;
    margin-bottom: 5%;
    
}
.form
{
    display: inherit;
    align-items: center;
    width: 100%;
    gap: 32px;
    margin-bottom: 10%;
    
    
}
.linha input
{
    width: 100%;
    border: none;
    padding: 2% 5%;
    background-color: rgba(255, 0, 0, 0);
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10%;
}

.LoginFooterConteiner
{
    display: flex;
    background-color: #082770;
}





.containerForm button
{
    padding: 3.5%;
    background: linear-gradient(to right, #003c97 9%, #082770 19%, #020848 84%);
    color: white;
    width: 100%;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.linha p
{
    color: rgb(253, 38, 38);
    font-weight: bold;
    font-size: 1.3rem;
}

.error
{
    color: rgb(224, 22, 22);
    
}

@media (max-width: 576px) {
    .containerImg
    {
        display: none;
        
    }
    .containerExternoForm
{
    background: linear-gradient(to right, #0c2f88 3%, #082770 15%, #020848 84%);
    
    width: 100%;
    
}
}

