@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*
{
    font-family: "Inter";
}

body
{
    margin: 0;
}

a
{
    text-decoration: none;
    color: white;
}
.containerInicio
{
    height: 70vh;
    display: flex;
    align-items: center;
    background-image: url("../public/img/img-fundo-inicio.png");
    background-size: cover;
    color: white;
}
.containerInicio p
{
    font-size: 1.5rem;
    font-weight: 400;
}

.containerInicio span
{
    background-color: #0030AB;
    padding: 8px;
    border-radius: 3px;
}

.inicial
{
    margin: 0.5% 10%;
    line-height: 1;
}

.textoHome
{
    width: 50%;
}

.botaoHome
{
    border: none;
    border-radius: 12px;
    background-color: #001B74;
    padding:  5px 15px;
    color: white;
    cursor: pointer;
}

.txtOpcoes
{
    margin: 3rem 17%;
    line-height: 0.7;
    color: #1F1F1F;
}

.txtOpcoes p
{
    font-size: 1.3rem;
}
.opcaoPrincipal
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 0 5%;
    font-size: 1.2rem;
    
}


.opcaoPrincipal button
{
    background-color: #001B74;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 2%;
    width: 30%;
    max-width: 377px;
    height: 100%;
    max-height: 220px;
    cursor: pointer;
}

.opcaoPrincipal button p
{
    font-size: 1.2rem;
    font-weight: 300;
}



.containerMapa
{
    margin: 3% 0;
    display: flex;
    background-color: #00154A;
    justify-content: space-between;
    background: linear-gradient(to right, #133EAD 2%, #00154A 35%, #040041 70%);
    
}

.containerTxt
{
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 10%;
    padding-left: 12%;
    color: white;
    
}

.containerTxt span
{
    color: #0076FC;
}

.containerTxt p
{
    font-size: 1.3rem;
}

.containerTxt h1
{
    font-size: 2.7rem;
    margin: 0;
}
.containerGeral
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15%;
}
.bannerContainer
{
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    background-color: #EBEBEB;
    color: #1F1F1F;
    margin-bottom: 2rem;
}

.bannerContainer button
{
    background-color: #0030AB;
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 90%;
    padding-left: 10%;  
    line-height: 0.6;
}

.bannerTxt
{
    width: 80%;
    padding-left: 5%;
    
}

.bannerTxt p
{
    width: 70%;
    font-size: 1.5rem;
    margin: 20px 0 ;
}

.bannerTxt h1
{
    font-size: 2.1rem;
    margin: 15px 0;
}

.titulo
{
    width: 100%;
    text-align: start;
    color: #1F1F1F;
    margin: 10px;
}
.bannerImg
{
    width: 45%;
    border-radius: 12px;
}

.cardsContainer
{
    display: inherit;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 2rem 0;
}

iframe{
    width: 500px;
    height: 400px;
}

.cardsContainer img
{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    margin-bottom: 2%;
}

.card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #001B74;
    color: white;
    text-align: center;
    border-radius: 12px;
    padding-bottom:3% ;
    
}

.card h1, .card p
{
    margin: 6px 0;
    padding: 0;
}

.card p
{
    font-size: 1.3rem;
    width: 75%;
    font-weight: 300;
}





@media (min-width: 1200px) {
    iframe{
        width: 480px;
        height: 400px;
        margin-right: 100px;
    }



    .cardsContainer {
        display: inherit;
        gap: 32px;
        margin: 2rem 0;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        width: 30%;
        background-color: #001B74;
        color: white;
        text-align: center;
        border-radius: 12px;
        height: 50vh;
        justify-content: flex-start;
        align-items: center;
}
    
    .card img {
        width: 100%;
        height: 274px !important;
        border-radius: 12px;
        margin-bottom: 2%;
    }
    
    
}




@media (min-width: 992px) and (max-width: 1199px) {
    
    .inicial p, h1, span{
        font-size: 1.6rem;
    }

    iframe{
        width: 500px;
        height: 400px;
    }

    
    .bannerTxt h1{
        font-size: 1em;
    }

    .cardsContainer {
        display: inherit;
        gap: 32px;
        margin: 2rem 0;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        width: 30%;
        background-color: #001B74;
        color: white;
        text-align: center;
        border-radius: 12px;
        height: 50vh;
        justify-content: flex-start;
        align-items: center;
}
    
    .card img {
        width: 100%;
        height: 270px ;
        border-radius: 12px;
        margin-bottom: 2%;
    }
}




@media (min-width: 768px) and (max-width: 991px) {
    .inicial p, h1, span{
        font-size: 1.6rem;
    }

    iframe{
        width: 500px;
        height: 400px;
    }

    
    .bannerTxt h1{
        font-size: 1em;
    }

    .cardsContainer {
        display: inherit;
        gap: 32px;
        margin: 2rem 0;
    }
    
    .card {
        display: flex;
        width: 30%;
        background-color: #001B74;
        color: white;
        text-align: center;
        border-radius: 12px;
        height: 50vh;
        justify-content: flex-start;
        align-items: center;
}
    
    .card img {
        width: 100%;
        height: 240px ;
        border-radius: 12px;
        margin-bottom: 2%;
    }


}







@media (min-width: 576px) and (max-width: 767px) {
    .inicial p, h1, span{
        font-size: 1.6rem;
    }

    iframe{
        width: 500px;
        height: 400px;
    }

    
    .bannerTxt h1{
        font-size: 1em;
    }

    .cardsContainer {
        display: inherit;
        gap: 32px;flex-direction: column;
        margin: 2rem 0;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #001B74;
        color: white;
        text-align: center;
        border-radius: 12px;
        height: 60vh;
        justify-content: flex-start;
        align-items: center;
}
    
    .card img {
        width: 100%;
        height: 270px;
        border-radius: 12px;
        margin-bottom: 2%;
    }
}






